#cookPage{
    position: absolute;
    left:0;
    right:0;
    top:60px;
    bottom:0px;
    margin:10px;
    padding:10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

#cookTitle{
  position: relative;
  font-size:40px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 2px dashed;
  
}

#cookContent{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media all and (min-width:0px) and (max-width:1280px){
  #cookPage{
    top:53px;
    margin-top:0;
    padding:0;
  }

  #cookTitle{
    padding-bottom:0px;
  }

  #cookTitle > b{
    font-size:24px;
  }
}