.LoginPage{
    width:30%;
    position: relative;
    left:35%;
    top:110px;
    background-color: white;
    border-radius: 10px;
}

#head{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #F5F0F0;
    min-height: 70px;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    color:black;
}

#loginContent{
    padding:30px;
}