.HomeNav{
    display:flex;
    background-color:#F6F3ED;
    height:4rem;
    color:#030303;
    box-shadow:1px 1px #C5C6D0;
}

#mainTitle{
    font-size:32px;
}

#mainTitle

.mr-auto{
    font-size:24px;
}

#dateLabel{
    font-size:20px;
    margin:0px 12px;
}

#userInfo{
    display:flex;
    align-content:center;
    padding:0.5rem 1rem;
    height:3rem;
}

#userName{
    font-size:20px;
    margin-right:12px;
}

#logoutBtn{
    cursor:pointer;
    color:#BC544B;
    padding-top:3px;
}

@media all and (min-width:0px) and (max-width:1280px){
    .HomeNav{
        height:3rem;
    }
    .mr-auto{
        display:flex;
        font-size:14px;
    }
    #mainTitle{
        font-size:24px;
    }
    #dateLabel{
        font-size:12px;
    }
    #userInfo{
        margin-top:10px;
    }
    #userName{
        font-size:14px;
    }
    #logoutBtn{
        font-size:12px;
    }

}

#dateDiv{
    display:flex;
    background:white;
    padding:1px 3px;
    margin-right:30px;
    border-radius:10px;
    color:#494848;
    box-shadow:0.3px 0.5px gray;
    align-items:center;

}

