#aboutEmp{
    position:relative;
    margin:10px;
    background-color: white;
    border-radius: 5px;
    min-height: 650px;
}

#Content{
    position:relative; 
    padding:40px;
}


#empDetailTitle{
    padding-bottom: 10px;
    border-bottom: 2px solid;
    font-size: 32px;
}

#empDetailContent{
    font-size: 24px;
}

.removeEmpBtn, .gobackBtn, .alterWageBtn, .payWageBtn{
    border:transparent;
    outline:none;
    font-size:18px;
    border-radius:10px;
    padding:0.5rem 1rem;
    margin:0 0.2rem;
}

@media all and (min-width:0px) and (max-width:1280px){
    #empDetailTitle > b{
        font-size:28px;
    }
    #empDetailContent{
        font-size:18px;
    }
    .removeEmpBtn, .gobackBtn, .alterWageBtn, .payWageBtn{
        font-size:16px;
    }
}