@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

#root{
    font-family: '서울한강체', sans-serif;
}

#mainPage{
    font-family: 'Do hyeon', sans-serif;
}

#NavBar{
    font-family: '서울한강체', sans-serif;
}

.modal-content{
    font-family: '서울한강체', sans-serif;
}